<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>

  <link rel="stylesheet" href="/css/style.css">

  <script src="/jquery/jquery.min.js"></script>
  <script src="/js/main.js"></script>

</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/signup">Register</a>
  <a href="/admin">Admin</a>
</nav>



<h1>Available Books</h1>
<div id="book-list"></div>

<script src="../public/jquery/jquery.min.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>
